<!doctype html>
<html>
<head>
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/jquery.mobile/jquery.mobile-1.4.2.css">
    <link rel="stylesheet" href="/templates/template.css">
	<script src="/libs/jquery-1.11.0.min.js"></script>
	<script src="/libs/jquery.mobile/jquery.mobile-1.4.2.js"></script>
	<script src="/libs/SonienTaegi.js"></script>
	<script src="/libs/SonienTaegi.jquerymobile.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
        	<h1>붐붐붐 가라객객</h1>
            <a href="#" data-role="button">Star button</a>
        </div><!-- /header -->
        
        <div id="content" data-role="content">
        	<div id="content_directree"></div>
        	<div id="content_filelist"></div>        	
        </div><!-- /content -->
        
        <div data-role="footer">
            <h4>My Footer</h4>
        </div><!-- /footer -->
 
    </div><!-- /page -->
</body>
<script type="text/javascript">
$("#content_filelist").load("/module/filelist", function() {});
</script>
</html>